#game-card{
    text-align: center;
    margin-top: 50px;
}

.game{
    text-align: center;
  
}

input{
    border: none;
    font-size: 20px;
    font-family: Inter, sans-serif;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 10px;
}

input:hover{
    background-color: rgb(67, 64, 255);
    color: #fff;
    transition: all 1s ease;
    cursor: pointer;
}