* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: o;
    font-family: sans-serif;
    color: white;
    background-color: #003b5d;
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 34px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 10px;
}

.galeria img {
    width: 100%;
    max-width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.preço {
    text-decoration: Line-through;
  }
