  *{
    margin: 0;
    padding: 0;
  }

  body{
    background-color: #003B5D;
  }

  nav {
    background-color: #2E2E2E;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Inter,sans-serif;
    
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #B1B1B1;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  li{
    color: #B1B1B1;
  }

  a:hover {
    color: white;

  }

  .logo{
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }

  .list1 { 
    display: flex;
    justify-content: flex-start;

  }
  
  .list2 { 
    display: flex;
    margin-right: 10px;
    margin-left: auto;
  }

  #bx {
    color: #3562FF;
  }

  #divBusca{
    background-color:#2E2E2E;
    /* border:solid 1px; */
    border-radius:20px;
    width: 260px;
    height: 40px;
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    height:32px;
    width:260px;
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    border: 0 none;
    box-shadow: 0 0 0 0;
    outline: 0;
  }

  #btnBusca {
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-right: 10px;
  }


  .list3 {
    font-family: Inter,sans-serif;
    display: flex;
    margin-left: 350px ;
    margin-top: -28px;
  }

  .barra {
    display: flexbox;
    /* position: fixed; */
    top: 50px;
    left: 0;
    right: 0;
    height: 35px;
    margin-left: 100px;
  }


  /* .primavera {
    display: flex;
    margin-top: 30px;
    margin-left: 90px;
    
  }

  #primavera {
    display: flex;
    width: 920px;
    height: 600px;

  } */

  #eco {
    display: flex;
    width: 180px;
    height: 55px;
    margin-top: 480px;
    margin-left: -900px;
  } 

  .flex-container-games {
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100%;
    width: 100%;
   
  }

.cs-go {
  display: flex;
  margin-top: -580px;
  margin-left: 1100px;
  width: 210px;
  height: 100px;
  
 
}

.cs-text{
  display: flex;
  color: #fff;
  margin-top: 30px;
  margin-left: 10px;
  
}

#cs-image {
  display: flex;
  width: 70px;
  height: 105px;
  border-radius: 15% ;
}

.rl {
  display: flex;
  margin-top: -910px;
  margin-left: -240px;
  width: 210px;
  height: 100px;
 
 
}

.rl-text{
  display: flex;
  color: #fff;
  
}

#rl-image {
  display: flex;
  width: 75px;
  height: 95px;
  border-radius: 15% ;
}

.vava {
  display: flex;
  margin-top: -660px;
  margin-left: -258px;
  width: 210px;
  height: 95px;
 
 
}

.vava-text{
  display: flex;
  color: #fff;
  margin-top: 10px;
}

#vava-image {
  display: flex;
  width: 75px;
  height: 95px;
  border-radius: 15% ;
}

.gta {
  display: flex;
  /* margin-top: -580px;
  margin-left: 1100px; */
  width: 210px;
  height: 95px;
  justify-content: flex-end;
  align-self: center;
 
}

.gta-text{
  display: flex;
  color: #fff;
  flex-direction: column;
}

#gta-image {
  display: flex;
  width: 75px;
  height: 95px;
  border-radius: 15% ;
}

.mine-go {
  display: flex;
  /* margin-top: -580px;
  margin-left: 1100px; */
  width: 210px;
  height: 95px;
  justify-content: flex-end;
  align-self: center;
 
}

.mine-text{
  display: flex;
  color: #fff;
  flex-direction: column;
}

#mine-image {
  display: flex;
  width: 75px;
  height: 95px;
  border-radius: 15% ;
}



